<div class="page-header">
    <div class="row">
        
        <div class="col-md-6 col-sm-6">
            <h1>Estoque</h1>
        </div>

        <div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3">
            <%= link_to 'Adicionar Estoque', new_estoque_path, :class => "btn btn-block btn-success", :title => "Adicionar Estoque" %>
        </div>
        
    </div>
</div>

<table class="table table-hover">
<thead>
  <tr>
    <th>Quantidade estoque</th>
    <th>Quantidade min</th>
    <th>Preco compra</th>
    <th>Produto</th>
    <th>Fornecedor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @estoques.each do |estoque| %>
    <tbody>
    <td><%= estoque.quantidade_estoque %></td>
    <td><%= estoque.quantidade_min %></td>
    <td><%= estoque.preco_compra %></td>
    <td><%= estoque.produto.nome %></td>
    <td><%= estoque.fornecedor.nome %></td>
    <td><%= link_to 'Show', estoque %></td>
    <td><%= link_to 'Edit', edit_estoque_path(estoque) %></td>
    <td><%= link_to 'Destroy', estoque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <tbody>
<% end %>
</table>
