<div class="page-header">
    <div class="row">
        
        <div class="col-md-6 col-sm-6">
            <h1>Entrada de Produtos</h1>
        </div>

        <div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3">
            <%= link_to 'Adicionar', new_estoque_path, :class => "btn btn-block btn-success", :title => "Adicionar" %>
        </div>
        
    </div>
</div>

<table class="table table-hover">
<thead>
  <tr>
    <th>Quantidade estoque</th>
    <th>Quantidade min</th>
    <th>Preco compra</th>
    <th>Produto</th>
    <th>Fornecedor</th>
    <th>Editar</th>
  </tr>
</thead>

<% @estoques.each do |estoque| %>
    <tbody>
    <td><%= estoque.quantidade_estoque %></td>
    <td><%= estoque.quantidade_min %></td>
    <td><%= estoque.preco_compra %></td>
    <td><%= estoque.produto.nome %></td>
    <td><%= estoque.fornecedor.nome %></td>
    <td><%= link_to '', edit_estoque_path(estoque), :class => "btn btn-default btn-sm glyphicon glyphicon-pencil" %></td>
    <tbody>
<% end %>
</table>
