

<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-header">
    <div class="row">
        
        <div class="col-md-6 col-sm-6">
            <h1>Novo Produto</h1>
        </div>

            <div class="col-md-3 col-sm-3">
              <%= link_to 'Cancelar', produtos_path, :class => "btn btn-block btn-danger" %>
            </div>

            <div class="col-md-3 col-sm-3">
                <%= f.submit :class => "btn btn-block btn-success" %>
            </div>
        
    </div>
</div>

  <div class="form-group required">
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :class => "form-control" %>
  </div>

  <div class="form-group required">
    <%= f.label "Imagem:" %><br />
    <%= f.file_field :foto %>
  </div>

  <div class="form-group required">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao, :rows => "10", :class => "form-control" %>
  </div>
  <div class="form-group required">
    <%= f.label "Categoria:" %><br />
    <%= f.collection_select  :categoria_id, Categoria.all, :id, :nome %>
  </div>
  <div class="form-group required">
    <%= f.label :unidade_medida %><br />
    <%= f.text_field :unidade_medida, :class => "form-control" %>
  </div>
  <div class="form-group required">
    <%= f.label :preco_venda %><br />
    <%= f.text_field :preco_venda, :class => "form-control" %>
  </div>
<% end %>
