<div class="page-header">
    <div class="row">
        
        <div class="col-md-6 col-sm-6">
            <h1>Produtos</h1>
        </div>

        <div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3">
            <%= link_to 'Adicionar Produto', new_produto_path, :class => "btn btn-block btn-success", :title => "Adicionar Produto" %>
        </div>
        
    </div>
</div>

<table class="table table-hover">
<thead>
  <tr>
    <th>Nome</th>
    <% if false %>
    <th style="text-align:center;">Imagem</th>
    <% end %>
    <th >Descricao</th>
    <th>Categoria</th>
    <th>Unidade medida</th>
    <th>Preco venda</th>
    <th>Editar</th>
  </tr>
</thead>

<% @produtos.each do |produto| %>
<tbody>
    <td><%= produto.nome %></td>
    <% if false %>
    <td style="text-align:center;"><%= image_tag produto.foto.url(:thumb) %></td>
    <% end %>
    <td ><%= produto.descricao %></td>
    <td><%= produto.categoria.nome %></td>
    <td><%= produto.unidade_medida %> </td>
    <td >
        <span class="badge badge-info azul">

            <%= number_to_currency(produto.preco_venda, :unit => "R$")  %>
        </span>
    </td>
    <td><%= link_to '', edit_produto_path(produto), :class => "btn btn-default btn-sm glyphicon glyphicon-pencil" %></td>

</tbody>
<% end %>
</table>