<h1>Página de Vendas</h1>


<h3>Listagem do Carrinho</h3>
<%=link_to 'Limpar Carrinho', vendas_path(:op => "clean") %>
<table border="1px">
  <tr>
    <th>Imagem</th>
    <th>Produto</th>
    <th>Valor do Produto</th>
    <th>qtd</th>
    <th>Valor Total</th>
  </tr>

  <% @prodCart.each do |p| %>
  <tr>
    
    <td><%= image_tag p.foto.url(:thumb) %></td>
    <td><%= p.nome %></td>
    <td><%= p.preco_venda %></td>
    <td><%= session[:cart][p.id.to_s] %></td>
    <td><%= session[:cart][p.id.to_s].to_i * p.preco_venda %></td>
    
  </tr>
  <% end %>
  <tr>
    
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td><%= @totalCart %></td>
    
  </tr>
</table>
<%= select("get", "person_id", Consumidor.all.collect {|p| [ p.nome, p.id ] }, {include_blank: 'Selecione o consumidor...'}, :id => 'consumidor') %>
<%=link_to 'Concluir Venda', vendas_path(:op => "finalizar"), :id => 'finalizar' %>

<h3>Listagem de Produtos</h3>
<table border="1px">
  <tr>
    <th>Produto</th>
    <th>Valor do Produto</th>
    <th>qtd</th>
    <th>Foto</th>
    <th></th>
  </tr>

  <% Produto.all.each do |p| %>
  <tr>
    
    <td><%= p.nome %></td>
    <td><%= p.preco_venda %></td>
    <td>1</td>
    <td><%= image_tag p.foto.url(:thumb) %></td>
    <td> <%=link_to '+ carrinho', vendas_path(:produto => p.id, :op => "cart") %></td>
    
  </tr>
  <% end %>
</table>

<h3>Resumo de Vendas</h3>
<table border="1px">
  <tr>
    <th>Quantidade venda</th>
    <th>Valor total</th>
    <th>Produto</th>
    <th>Foto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendas.each do |venda| %>
  <tr>
    <td><%= venda.quantidade_venda %></td>
    <td><%= venda.valor_total %></td>
    <td><%= venda.produto.nome %></td>
    <td><%= image_tag venda.produto.foto.url(:thumb) %></td>
    <td><%= link_to 'Show', venda %></td>
    <td><%= link_to 'Edit', edit_venda_path(venda) %></td>
    <td><%= link_to 'Destroy', venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venda', new_venda_path %>
