<style>
@media print
  {
  #conteudo {
    display: none;
  }
  }
</style>

<div class="centraliza">

<aside class="sidebarvenda">
  

<h3 class="center">Lista de Compras</h3>
<table class="table table-hover">
<thead>
  <tr>
  <th></th>
    <th>Produto</th>
    <th>Valor</th>
    <th>Qtd</th>
    <th>Sub-Total</th>
  </tr>
</thead>


  <% @prodCart.each do |p| %>
<tbody>
    <td><a class="tirar-compras" href="/vendas?op=cartmenos&produto=<%= p.id %>">
    <i class="glyphicon glyphicon-remove" style="top:4px;"></i>
    </a></td>
    <td style="text-transform:capitalize;"><%= p.nome %></td>
    <td><%= number_to_currency(p.preco_venda, :unit => "") %></td>
    <td><%= session[:cart][p.id.to_s] %></td>
    <td><%= number_to_currency(session[:cart][p.id.to_s].to_i * p.preco_venda, :unit => "R$") %></td>
</tbody>

  <% File.open("public/teste.txt", "a+") do |f|

  linha2 = p.nome + "    " + number_to_currency(p.preco_venda, :unit => "") + "\n"

  f << linha2

end
 %>

  <% end %>

  <tr class="cinzazul">
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td ><%= number_to_currency(@totalCart, :unit => "R$") %></td>
    
  </tr>
</table>
  
  <div class="limpar"><%=link_to 'Limpar Compras', vendas_path(:op => "clean") %></div>
<div data-no-turbolink>
<%= select("get", "person_id", Consumidor.all.collect {|p| [ p.nome, p.id ] }, {include_blank: 'Selecione o consumidor...'}, :id => 'consumidor', :class => "consumidor-select", 'data-no-turbolink' => '') %>
</div>
<br>

<%=link_to 'Concluir Venda', vendas_path(:op => "finalizar"), :id => 'finalizar', :class => "btn btn-block btn-success", 'data-no-turbolink' => "", :onclick => "writetofile()" %>

  
</aside>

<div id="conteudo">


<h1>Area de Vendas</h1>



  <div class="row">
    <div class="col-md">
      <div class="panel panel-default shortcuts">
        <div class="panel-heading">Produtos</div>
        <div class="panel-body">

        <% Categoria.all.each do |c| %> 
        <div class="categorias">
          <span class="cat-nome"><%= c.nome %></span>
            <% c.produtos.each do |p| %> 
              <div class="black-hover">
              <div class="black">
                <%=link_to vendas_path(:produto => p.id, :op => "cart"), :class => "produtos-carrinho" do %>
                <span class="shortcut-label"><%= p.nome %></span>
              </div>
              </div>
                <% end %>
            <% end %>
              <br>
        </div>
        <% end %>

        </div>
      </div>
    </div>













<% if false %>
<h3>Resumo de Vendas</h3>
<table border="1px">
  <tr>
    <th>Quantidade venda</th>
    <th>Valor total</th>
    <th>Produto</th>
    <th>Foto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendas.each do |venda| %>
  <tr>
    <td><%= venda.quantidade_venda %></td>
    <td><%= venda.valor_total %></td>
    <td><%= venda.produto.nome %></td>
    <td><%= image_tag venda.produto.foto.url(:thumb) %></td>
    <td><%= link_to 'Show', venda %></td>
    <td><%= link_to 'Edit', edit_venda_path(venda) %></td>
    <td><%= link_to 'Destroy', venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

</div>
</div>